/* button CSS */
.hoverButton:hover{
  /* background: #b59292; */
  padding: 0px 0px !important;
  width: 205px;
  box-sizing: border-box !important;
  transition: ease ;
}
.firstButton:hover{
  margin-right: 20px;
}
.secondbutton:hover{
  margin-left: 17px;
}
/* End Button css */

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  #mobileAppimg{
    position: absolute; top:45%; bottom: 50%; left: 50%; right: 50%;transform: translate(-50%,-50%); z-index: 999;
  }
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    header video {
      /* display: none;  */
    }
  }

  @media only screen and (max-width: 400px) {
    #mobileAppimg{
      /* background:  rebeccapurple !important; */
      /* position: relative !important;
      top: 100%; */
      position: relative;
      height: 600px;
      width: 1200px !important;
    }
    #divImg{
      height: 300px;
    }
  }

  